/* You can add global styles to this file, and also import other style files */

.bt-btn-novo{
    float: right
}

.bt-btn-link{
    cursor: pointer;
    padding-right: 10px;
}

.panel-heading{
    margin-top: 10px !important;
}

