<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h1>Livros <small> - {{modoEdicao == true ? 'Editar' : 'Novo'}}</small></h1>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <form [formGroup]="livroForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="titulo">Título</label>
        <input type="text" class="form-control" id="titulo" placeholder="Título" formControlName="titulo">
      </div>
      <div class="form-group">
        <label for="ano">Ano</label>
        <select class="form-control" id="ano" formControlName="ano">
          <option value="0">Selecione ...</option>
          <option *ngFor="let ano of anos">{{ano}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="escritor">Escritor</label>
        <input type="text" class="form-control" id="escritor" placeholder="Escritor" formControlName="escritor">
      </div>
      <button type="submit" class="btn btn-secondary">Salvar</button>
    </form>
  </div> 
</div> 