<div class="panel panel-default">
  <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h1>Livros <small> - lista</small></h1>
        </div>
        <div class="col-md-6">
          <a class="btn btn-default bt-btn-novo bt-btn-link"><i class="fas fa-plus" routerLink="/livro/novo"></i></a>
        </div>
      </div>          
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr> 
            <th>#</th>
            <th>Título</th>
            <th>Ano</th>
            <th>Escritor</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let livro of livros | paginate: { itemsPerPage: 10, currentPage: p }">
            <td>{{livro.id}}</td>
            <td>{{livro.titulo}}</td>
            <td>{{livro.ano}}</td>
            <td>{{livro.escritor}}</td>
            <td colspan="3">
              <i class="fas fa-edit bt-btn-link" routerLink="/livro/editar/{{livro.id}}"></i> 
              <i class="fas fa-trash-alt bt-btn-link" (click)="excluir(livro)"></i>
              <i class="fas fa-book bt-btn-link" routerLink="/exemplar/{{livro.id}}"></i>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <div class="panel-footer" style="float: right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>