<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-md-6">
        <h1>Exemplares <small> - {{modoEdicao == true ? 'Editar' : 'Novo'}}</small></h1>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <form [formGroup]="exemplarForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="Número">Título</label>
        <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="numero">
      </div>      
      <button type="submit" class="btn btn-secondary">Salvar</button>
    </form>
  </div>
</div>