<div class="panel panel-default">
  <div class="panel-heading">
      <div class="row">
        <div class="col-md-6">
          <h1>Exemplares <small> - lista</small></h1>
        </div>
        <div class="col-md-6">
          <a class="btn btn-default bt-btn-novo bt-btn-link"><i class="fas fa-plus" routerLink="/exemplar/novo/{{livro.id}}"></i></a>
        </div>
      </div> 
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xg-12">
            <nav class="breadcrumb">
                <span class="breadcrumb-item" href="#"><b>Título:</b> {{livro.titulo}}</span>
                <span class="breadcrumb-item" href="#"><b>Ano:</b> {{livro.ano}}</span>
                <span class="breadcrumb-item" href="#"><b>Escritor:</b> {{livro.escritor}}</span>               
            </nav>          
        </div>
      </div>         
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr> 
            <th>#</th>
            <th>Número</th>            
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let exemplar of exemplares">
            <td>{{exemplar.id}}</td>
            <td>{{exemplar.numero}}</td>            
            <td colspan="3">
              <i class="fas fa-edit bt-btn-link" routerLink="/exemplar/editar/{{exemplar.id}}"></i> 
              <i class="fas fa-trash-alt bt-btn-link" (click)="excluir(exemplar)"></i>              
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>  
</div>